*{
    margin: 0;
    padding: 0;
    }
    body {
      display: grid;
      grid-template-columns: auto;
    }
    
@media only screen and (max-width: 914px) {
     #header{
      grid-template-columns: auto;
       background-color: aquamarine;     
      }
     .contenedor_blanco_nav{
       background-color: red;
  }
 }